# Lab | Customer Analysis Round 2

In [1]:
# import libraries
import pandas as pd
import numpy as np
import datetime

In [2]:
# load csv file
df1 = pd.read_csv('files_for_lab/csv_files/marketing_customer_analysis.csv')

## EXERCISES:

### 1. Show the dataframe shape.

In [3]:
# number of rows and columns
df1.shape

(10910, 26)

### 2. Standardize header names.

In [4]:
df1.columns

Index(['Unnamed: 0', 'Customer', 'State', 'Customer Lifetime Value',
       'Response', 'Coverage', 'Education', 'Effective To Date',
       'EmploymentStatus', 'Gender', 'Income', 'Location Code',
       'Marital Status', 'Monthly Premium Auto', 'Months Since Last Claim',
       'Months Since Policy Inception', 'Number of Open Complaints',
       'Number of Policies', 'Policy Type', 'Policy', 'Renew Offer Type',
       'Sales Channel', 'Total Claim Amount', 'Vehicle Class', 'Vehicle Size',
       'Vehicle Type'],
      dtype='object')

In [5]:
def standard_cols(dataframe):
    '''Standardize column names into lowercase and replace spaces with underscore.'''
    dataframe.columns = [col.lower().replace(' ','_') for col in df1.columns]
standard_cols(df1)
df1.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN

In [6]:
df1 = df1.drop('unnamed:_0', axis=1) #dropping column which is has the same values as the index

### 3/4. Numerical and Categorical Columns

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       10910 non-null  object
 1   state                          10279 non-null  object
 2   customer_lifetime_value        10910 non-null  float64
 3   response                       10279 non-null  object
 4   coverage                       10910 non-null  object
 5   education                      10910 non-null  object
 6   effective_to_date              10910 non-null  object
 7   employmentstatus               10910 non-null  object
 8   gender                         10910 non-null  object
 9   income                         10910 non-null  int64
 10  location_code                  10910 non-null  object
 11  marital_status                 10910 non-null  object
 12  monthly_premium_auto           10910 non-null  int64
 13  months_since_last_claim        10277 non-null  float64
 14  months_since_policy_inception  10910 non-null  int64
 15  number_of_open_complaints      10277 non-null  float64
 16  number_of_policies             10910 non-null  int64
 17  policy_type                    10910 non-null  object
 18  policy                         10910 non-null  object
 19  renew_offer_type               10910 non-null  object
 20  sales_channel                  10910 non-null  object
 21  total_claim_amount             10910 non-null  float64
 22  vehicle_class                  10288 non-null  object
 23  vehicle_size                   10288 non-null  object
 24  vehicle_type                   5428 non-null   object
dtypes: float64(4), int64(4), object(17)
memory usage: 2.1+ MB

#### Numerical Variables

1. customer_lifetime_value
2. months_since_last_claim
3. income
4. monthly_premium_auto
5. months_since_policy_inception
6. number_of_open_complaints
7. number_of_policies
8. total_claim_amount

#### Categorical Variables

1. customer
2. state
3. response                      
4. coverage                      
5. education                      
6. effective_to_date            
7. employmentstatus            
8. gender                     
9. location_code                
10. marital_status                
11. policy_type                  
12. policy                       
13. renew_offer_type             
14. sales_channel               
15. vehicle_class               
16. vehicle_size              
17. vehicle_type (dropped)

### Data Cleaning and Observation

In [8]:
# Dealing with duplicates
df1.duplicated().value_counts()
df2 = df1.drop_duplicates()

In [9]:
df2.vehicle_type.value_counts(dropna=False)

NaN    5465
A      5408
Name: vehicle_type, dtype: int64

In [10]:
#deciding to drop the vehicle_type column since there is only 1 unique value available and more than 50% is NaN
#variable is also very vague and not helpful
df2 = df2.drop('vehicle_type', axis=1)

In [11]:
df2.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize

In [12]:
#Rounding off to 2 decimal places
df2.customer_lifetime_value = round(df2.customer_lifetime_value,2)
df2.total_claim_amount = round(df2.total_claim_amount,2)

In [13]:
df2['gender'].unique()

array(['M', 'F'], dtype=object)

In [14]:
df2['vehicle_class'].unique()

array(['Four-Door Car', 'SUV', 'Two-Door Car', 'Sports Car', 'Luxury Car',
       'Luxury SUV', nan], dtype=object)

In [15]:
df2['vehicle_size'].unique()

array(['Medsize', 'Small', 'Large', nan], dtype=object)

In [16]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10873 entries, 0 to 10909
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       10873 non-null  object
 1   state                          10259 non-null  object
 2   customer_lifetime_value        10873 non-null  float64
 3   response                       10259 non-null  object
 4   coverage                       10873 non-null  object
 5   education                      10873 non-null  object
 6   effective_to_date              10873 non-null  object
 7   employmentstatus               10873 non-null  object
 8   gender                         10873 non-null  object
 9   income                         10873 non-null  int64
 10  location_code                  10873 non-null  object
 11  marital_status                 10873 non-null  object
 12  monthly_premium_auto           10873 non-null  int64
 13  months_since_last_claim        10250 non-null  float64
 14  months_since_policy_inception  10873 non-null  int64
 15  number_of_open_complaints      10250 non-null  float64
 16  number_of_policies             10873 non-null  int64
 17  policy_type                    10873 non-null  object
 18  policy                         10873 non-null  object
 19  renew_offer_type               10873 non-null  object
 20  sales_channel                  10873 non-null  object
 21  total_claim_amount             10873 non-null  float64
 22  vehicle_class                  10265 non-null  object
 23  vehicle_size                   10265 non-null  object
dtypes: float64(4), int64(4), object(16)
memory usage: 2.1+ MB

### 5. Check and deal with NaN values.

In [17]:
df3 = df2 #copy dataframe for as safety precaution before starting to deal with null values

In [18]:
def check_na(dataframe):
    '''This function uses the dataframe as a parameter to check whether it has any null values.'''
    return dataframe.isna().sum()
    return dataframe.isna().value_counts()
check_na(df3)

customer                           0
state                            614
customer_lifetime_value            0
response                         614
coverage                           0
education                          0
effective_to_date                  0
employmentstatus                   0
gender                             0
income                             0
location_code                      0
marital_status                     0
monthly_premium_auto               0
months_since_last_claim          623
months_since_policy_inception      0
number_of_open_complaints        623
number_of_policies                 0
policy_type                        0
policy                             0
renew_offer_type                   0
sales_channel                      0
total_claim_amount                 0
vehicle_class                    608
vehicle_size                     608
dtype: int64

In [19]:
df3.isna().corr()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
customer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
state,NaN,1.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.009976,NaN,NaN,NaN,NaN,NaN,NaN,-0.009250,-0.009250
customer_lifetime_value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
response,NaN,1.000000,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.009976,NaN,NaN,NaN,NaN,NaN,NaN,-0.009250,-0.009250
coverage,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
education,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
effective_to_date,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
employmentstatus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
gender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
income,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
location_code,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
marital_status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
monthly_premium_auto,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
months_since_last_claim,NaN,0.009976,NaN,0.009976,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.008892,0.008892
months_since_policy_inception,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
number_of_open_complaints,NaN,0.009976,NaN,0.009976,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,0.008892,0.008892
number_of_policies,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
policy_type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
policy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
renew_offer_type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sales_channel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
total_claim_amount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vehicle_class,NaN,-0.009250,NaN,-0.009250,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.008892,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000
vehicle_size,NaN,-0.009250,NaN,-0.009250,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.008892,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000

Missing Values Correlation = 1
- state & response
- months_since_last_claim & number_of_open_complaints
- vehicle_class & vehicle_size

In [20]:
# look at records with missing values
df_na= df3[df3.isna().any(axis=1)]
df_na

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
4,QA50777,Oregon,9025.07,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.93,Four-Door Car,Medsize
5,HO81102,NaN,4745.18,NaN,Basic,High School or Below,2/14/11,Employed,M,50549,...,73,0.0,7,Personal Auto,Personal L3,Offer1,Agent,292.80,Four-Door Car,Medsize
11,GE63585,NaN,2420.71,NaN,Basic,Bachelor,2/7/11,Employed,M,31710,...,29,0.0,1,Corporate Auto,Corporate L3,Offer1,Call Center,199.55,Two-Door Car,Medsize
23,NQ71171,California,5107.07,No,Basic,Bachelor,2/2/11,Employed,M,70174,...,80,NaN,7,Personal Auto,Personal L2,Offer1,Agent,128.90,Four-Door Car,Medsize
51,FT56968,Arizona,2590.10,No,Basic,High School or Below,1/3/11,Employed,M,22398,...,76,NaN,1,Personal Auto,Personal L1,Offer1,Agent,321.60,Four-Door Car,Large
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10883,FD64348,Oregon,22563.62,No,Basic,High School or Below,1/17/11,Employed,M,23046,...,7,3.0,2,Personal Auto,Personal L3,Offer4,Branch,1.69,NaN,NaN
10890,VQ78876,Oregon,4660.40,No,Basic,Bachelor,2/3/11,Employed,F,89834,...,11,0.0,1,Corporate Auto,Corporate L3,Offer1,Branch,43.16,NaN,NaN
10894,EX63393,NaN,6314.49,NaN,Extended,Master,2/27/11,Employed,F,66947,...,12,0.0,6,Personal Auto,Personal L1,Offer3,Agent,374.40,Four-Door Car,Small
10905,FE99816,Nevada,15563.37,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,40,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.40,Luxury Car,Medsize
10909,IV32877,NaN,6857.52,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,...,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.72,SUV,Medsize

In [21]:
df_na[['gender', 'state']].value_counts(dropna=False)

gender  state
F       NaN           332
M       NaN           282
        California    223
F       California    175
        Oregon        160
M       Oregon        136
F       Arizona       125
M       Arizona       106
        Nevada         58
F       Nevada         52
        Washington     52
M       Washington     38
dtype: int64

In [22]:
df_na.describe()

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
count,1739.000000,1739.000000,1739.000000,1116.000000,1739.000000,1116.000000,1739.000000,1739.000000
mean,8079.602450,36905.345026,93.202990,15.538530,48.278321,0.376344,3.036803,439.178936
std,6958.839611,30269.139228,34.709706,10.120855,28.062720,0.918146,2.436967,301.223300
min,1918.120000,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.380000
25%,4098.650000,0.000000,68.000000,7.000000,25.000000,0.000000,1.000000,265.205000
50%,5704.980000,32918.000000,82.000000,15.000000,50.000000,0.000000,2.000000,379.200000
75%,9042.325000,61817.000000,109.000000,24.000000,72.000000,0.000000,4.000000,542.400000
max,58207.130000,99845.000000,295.000000,35.000000,99.000000,5.000000,9.000000,2552.340000

In [23]:
len(df_na)/len(df3) #percent of missing values in the dataframe

0.15993745976271498

In [24]:
# Remove observations with null values which represents 16% of all observation and look to be random
# We will still have more than 9134 records after deleting missing values
def drop_na(df):
    '''This function drops all missing values in the dataframe.'''
    df = df.dropna()
    return df
df4 = drop_na(df3)

In [32]:
df4.info()
check_na(df4).sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9134 entries, 0 to 10908
Data columns (total 25 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       9134 non-null   object
 1   state                          9134 non-null   object
 2   customer_lifetime_value        9134 non-null   float64
 3   response                       9134 non-null   object
 4   coverage                       9134 non-null   object
 5   education                      9134 non-null   object
 6   effective_to_date              9134 non-null   datetime64[ns]
 7   employmentstatus               9134 non-null   object
 8   gender                         9134 non-null   object
 9   income                         9134 non-null   int64
 10  location_code                  9134 non-null   object
 11  marital_status                 9134 non-null   object
 12  monthly_premium_auto           9134 non-null   int64
 13  months_since_last_claim        9134 non-null   float64
 14  months_since_policy_inception  9134 non-null   int64
 15  number_of_open_complaints      9134 non-null   float64
 16  number_of_policies             9134 non-null   int64
 17  policy_type                    9134 non-null   object
 18  policy                         9134 non-null   object
 19  renew_offer_type               9134 non-null   object
 20  sales_channel                  9134 non-null   object
 21  total_claim_amount             9134 non-null   float64
 22  vehicle_class                  9134 non-null   object
 23  vehicle_size                   9134 non-null   object
 24  month                          9134 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(5), object(15)
memory usage: 1.8+ MB

0

In [26]:
df4.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,DK49336,Arizona,4809.22,No,Basic,College,2/18/11,Employed,M,48029,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.80,Four-Door Car,Medsize
1,KX64629,California,2228.53,No,Basic,College,1/18/11,Unemployed,F,0,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.92,Four-Door Car,Medsize
2,LZ68649,Washington,14947.92,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.00,SUV,Medsize
3,XL78013,Oregon,22332.44,Yes,Extended,College,1/11/11,Employed,M,49078,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.01,Four-Door Car,Medsize
6,IW72280,California,5035.04,No,Basic,Doctor,2/14/11,Employed,F,37405,...,99,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.56,Four-Door Car,Medsize

### 6.1. Datetime format

In [27]:
def transform_to_date(column):
    column = pd.to_datetime(column, errors='coerce')
    return column
df4.effective_to_date = transform_to_date(df4.effective_to_date)

/Users/RachelleFlores/opt/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [28]:
df4

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,DK49336,Arizona,4809.22,No,Basic,College,2011-02-18,Employed,M,48029,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.80,Four-Door Car,Medsize
1,KX64629,California,2228.53,No,Basic,College,2011-01-18,Unemployed,F,0,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.92,Four-Door Car,Medsize
2,LZ68649,Washington,14947.92,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.00,SUV,Medsize
3,XL78013,Oregon,22332.44,Yes,Extended,College,2011-01-11,Employed,M,49078,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.01,Four-Door Car,Medsize
6,IW72280,California,5035.04,No,Basic,Doctor,2011-02-14,Employed,F,37405,...,99,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.56,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10903,SU71163,Arizona,2771.66,No,Basic,College,2011-01-07,Employed,M,59855,...,82,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.20,Two-Door Car,Medsize
10904,QI63521,Nevada,19228.46,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,...,32,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.60,Luxury SUV,Medsize
10906,KX53892,Oregon,5259.44,No,Basic,College,2011-01-06,Employed,F,61146,...,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.02,Four-Door Car,Medsize
10907,TL39050,Arizona,23893.30,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.31,Luxury SUV,Medsize
10908,WA60547,California,11971.98,No,Premium,College,2011-02-13,Employed,F,64195,...,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.29,SUV,Medsize

### 6.2. Extract the months from the dataset and store in a separate column.

In [29]:
def extract_month(fromcol):
    '''Extracts month from datetime column. Don't forget to assign function result to a variable with new column name'''
    newcol = fromcol.dt.month
    return newcol
df4['month'] = extract_month(df4.effective_to_date)

/var/folders/dg/rfjw5drd4hd12g7gk7g9v89m0000gn/T/ipykernel_8086/551279118.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['month'] = extract_month(df4.effective_to_date)

In [30]:
df4.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,month
0,DK49336,Arizona,4809.22,No,Basic,College,2011-02-18,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.80,Four-Door Car,Medsize,2
1,KX64629,California,2228.53,No,Basic,College,2011-01-18,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.92,Four-Door Car,Medsize,1
2,LZ68649,Washington,14947.92,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.00,SUV,Medsize,2
3,XL78013,Oregon,22332.44,Yes,Extended,College,2011-01-11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.01,Four-Door Car,Medsize,1
6,IW72280,California,5035.04,No,Basic,Doctor,2011-02-14,Employed,F,37405,...,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.56,Four-Door Car,Medsize,2

### 6.3. Filter the data to show only the information for the first quarter.

In [31]:
def q1(df):
    '''Filter the dataframe to only the first quarter records(January, February, March)'''
    return df[df['month'].isin({1,2,3})]
df_clean_q1 = q1(df4)
df_clean_q1

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,month
0,DK49336,Arizona,4809.22,No,Basic,College,2011-02-18,Employed,M,48029,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.80,Four-Door Car,Medsize,2
1,KX64629,California,2228.53,No,Basic,College,2011-01-18,Unemployed,F,0,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.92,Four-Door Car,Medsize,1
2,LZ68649,Washington,14947.92,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.00,SUV,Medsize,2
3,XL78013,Oregon,22332.44,Yes,Extended,College,2011-01-11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.01,Four-Door Car,Medsize,1
6,IW72280,California,5035.04,No,Basic,Doctor,2011-02-14,Employed,F,37405,...,3.0,4,Corporate Auto,Corporate L2,Offer2,Branch,287.56,Four-Door Car,Medsize,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10903,SU71163,Arizona,2771.66,No,Basic,College,2011-01-07,Employed,M,59855,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.20,Two-Door Car,Medsize,1
10904,QI63521,Nevada,19228.46,No,Basic,High School or Below,2011-02-24,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.60,Luxury SUV,Medsize,2
10906,KX53892,Oregon,5259.44,No,Basic,College,2011-01-06,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.02,Four-Door Car,Medsize,1
10907,TL39050,Arizona,23893.30,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.31,Luxury SUV,Medsize,2
10908,WA60547,California,11971.98,No,Premium,College,2011-02-13,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.29,SUV,Medsize,2